:host {
    top: 0;
    position: sticky;
    z-index: 1001;
    justify-content: center;
    text-align: center;
}

.header {
    padding: 7px 20px 0;
    box-shadow: 0 1px 1px #0003;
    background: #FFFFFF;

    &__body {
        display: flex;
        min-height: 70px;
        align-items: center;

        &-container {
            display: flex;
            justify-content: left;

            &__text {
                width: 172px;
                height: 25px;
                font-size: 18px;
                font-weight: 600;
                line-height: 25px;
                letter-spacing: 0.0104em;
                text-align: left;
                color: #000000;
            }
        }
    }


}