:host {
  display: flex;
  flex-direction: column;
  position: relative;
  min-height: 100vh;
}

.main {
  width: 100%;
  display: flex;
  justify-content: center;
}

.router-container {
  width: 100vw;
  max-width: 100%;
}

#content {
  flex: 1;
  width: 100%;
  align-self: center;
  background: #FAFAFA;
}

.container,
.container-fluid {
  margin-right: auto;
  margin-left: auto
}

.container-fluid {
  padding-right: 2rem;
  padding-left: 2rem
}

.container-fluid {
  padding-left: 0 !important;
  padding-right: 0 !important;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}